; Registry do escopo @biome
; Para install: npm-group (agrega hosted + proxy)
; Para publish: npm-hosted (direto)
@biome:registry=https://nexus.meioambiente.mg.gov.br/repository/npm-hosted/

; Autenticacao
//nexus.meioambiente.mg.gov.br/repository/npm-hosted/:_auth=${NEXUS_AUTH}
//nexus.meioambiente.mg.gov.br/repository/npm-group/:_auth=${NEXUS_AUTH}
